




<p-panel>
  <p-header>
    <div class="ui-helper-clearfix">
      <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">Inventory Search</span>
    </div>
  </p-header>



  <div class="container">
    <div class="row">
      <div class="col-sm">

        <label for="color">Color:</label>
        <select class="form-control input-md" [(ngModel)]="color" for="color">
          <option value="">-- All --</option>
          <option value="Red">Red</option>
          <option value="White">White</option>
          <option value="Gray">Gray</option>
          <option value="Silver">Silver</option>
          <option value="Black">Black</option>
        </select>

      </div>
      <div class="col-sm">
        <label for="hasSunroof">Sun Roof:</label><br />
        <p-triStateCheckbox [(ngModel)]="hasSunroof" for="hasSunroof"></p-triStateCheckbox>
      </div>
      <div class="col-sm">
        <label for="isFourWheelDrive">Four Wheel Drive:</label><br />
        <p-triStateCheckbox [(ngModel)]="isFourWheelDrive" for="isFourWheelDrive"></p-triStateCheckbox>
      </div>
      <div class="col-sm">
        <label for="hasLowMiles">Low Miles:</label><br />
        <p-triStateCheckbox [(ngModel)]="hasLowMiles" for="hasLowMiles"></p-triStateCheckbox>
      </div>
      <div class="col-sm">
        <label for="hasPowerWindows">Power Windows:</label><br />
        <p-triStateCheckbox [(ngModel)]="hasPowerWindows" for="hasPowerWindows"></p-triStateCheckbox>
      </div>
      <div class="col-sm">
        <label for="hasNavigation">Navigation:</label><br />
        <p-triStateCheckbox [(ngModel)]="hasNavigation" for="hasNavigation"></p-triStateCheckbox>
      </div>
      <div class="col-sm">
        <label for="hasHeatedSeats">Heated Seats:</label><br />
        <p-triStateCheckbox [(ngModel)]="hasHeatedSeats" for="hasHeatedSeats"></p-triStateCheckbox>
      </div>



    </div>
  </div>



  <p-footer>
    <button [style]="{'float':'right'}" type="button" class="btn btn-primary" (click)="search()">Search</button>


  </p-footer>
</p-panel>




<p-table [value]="cars">
  <ng-template pTemplate="header">
    <tr>
      <th>Make</th>
      <th>Year</th>
      <th>Color</th>
      <th>Price</th>
      <th>Sunroof</th>
      <th>Four Wheel Drive</th>
      <th>Low Miles</th>
      <th>Power Windows</th>
      <th>Navigation</th>
      <th>Heated Seats</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-car>
    <tr>
      <td>{{car.make}}</td>
      <td>{{car.year}}</td>
      <td>{{car.color}}</td>
      <td>{{car.price | currency}}</td>
      <td align="center">
        <i *ngIf="car.hasSunroof" class="fa fa-check-square" style="font-size:25px;color:green;"></i>
      </td>
      <td align="center">
        <i *ngIf="car.isFourWheelDrive" class="fa fa-check-square" style="font-size:25px;color:green;"></i>
      </td>
      <td align="center">
        <i *ngIf="car.hasLowMiles" class="fa fa-check-square" style="font-size:25px;color:green;"></i>
      </td>
      <td align="center">
        <i *ngIf="car.hasPowerWindows" class="fa fa-check-square" style="font-size:25px;color:green;"></i>
      </td>
      <td align="center">
        <i *ngIf="car.hasNavigation" class="fa fa-check-square" style="font-size:25px;color:green;"></i>
      </td>
      <td align="center">
        <i *ngIf="car.hasHeatedSeats" class="fa fa-check-square" style="font-size:25px;color:green;"></i>
      </td>


    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage" let-columns>
    <tr>
      <td colspan="10">
        No records found
      </td>
    </tr>
  </ng-template>


</p-table>


